.board {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	margin: 0;
}

.selected {
	text-align: center;
}

.XSelect {
	background-color: rgb(150, 200, 250);
}

.OSelect {
	background-color: rgb(250, 180, 150);
}

.ASelect{
	background-color: rgb(255,192,203);
}

.winner {
	border: 2px solid green;
}
